* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #FFFFFF
}

body {
    background-color: #323232;
    font-family: "微软雅黑";
    font-size: 12px;
    position: relative;
}

.tab {
    width: 300px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.tab .tab-nav {
    height: 30px;
    /*background-color: #D12222;*/
    /*padding-left: 4px*/
}

.tab .tab-nav li {
    float: left;
    margin-right: 4px;
    background-color: #767676;
    border-radius: 3px 3px 0 0;
    padding: 0 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.tab .tab-nav li.active {
    background-color: #fff;
    color: #736969;
}

.tab .content-wrap {
    background-color: #fff;
    height: 220px;
    padding: 4px;
}

.tab .content-wrap .content-item {
    position: absolute;
    display: none;
}

.tab .content-wrap img {
    width: 290;
    height: 219px;
}

.tab .content-wrap .content-item.current {
    display: block;
}